.video-feed {
  flex: 1;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.video-feed-title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Smaller video cards */
  gap: 15px;
}

.video-card {
  background-color: #292929;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.video-card h4 {
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
